<div class="container">
<h1><b>Editing Property</b></h1>
 
<%= form_for @property do |f| %>
 <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :b_code %><br>
    <%= f.text_field :b_code %>
  </p>
  <p>
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :prize %><br>
    <%= f.text_field :prize %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
</div>