<div class="container">
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@property.errors.count, "error") %> prohibited
        this property from being saved:
      </h2>
      <ul>
        <% @property.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="proper-singup">
<%= form_for @property, :html => {:multipart => true}  do |f| %> 
<h1>Add property</h1>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :addres %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :bath %><br>
    <%= f.text_field :bath %>
  </p>
   <p>
    <%= f.label :bed %><br>
    <%= f.text_field :bed %>
  </p>
  <p>
    <%= f.label :pool %><br>
    <%= f.text_field :pool %>
  </p>
   <p>
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </p>
  
  <p>
    <%= f.label :Prize %><br>
    <%= f.text_field :prize %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
   <p>
    <%= f.file_field :image1 %>
  </p>
   <p>
    <%= f.file_field :image2 %>
  </p>
   <p>
    <%= f.file_field :image3 %>
  </p>
  
  
  <p>
    <input class="btn btn-primary" type="submit" value="Save property">
  </p>
<% end %>
<%= link_to 'back', root_path %>
</div>
</div>